.docTitle {
    text-align: center;
}

.docAuthor {
    text-align: center;
}

.titlePart.main {
    font-size: 18px;
}
.titlePart {
    font-size: 14px;
    padding-bottom: 15px;
}
.head {
    font-size: 14px;
    color: #0755AC;
    margin-bottom: 5px;
    line-height: 20px;
    margin: 0;
    font-weight: 500;
    text-rendering: optimizelegibility;
}

.subject_terms {
    margin-top: 20px;
}
.subject_list_item {
    margin-left: 10px;
}
td.pagenumber {
    width: 120px;
}
.hidden {
    display: none;
}
.disabled {
  color: #999999;
    pointer-events: none;
    cursor: default;
}
.thumbnail_with_caption {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    float:left;
    width:120px;
    height:170px;

}
#myImageGallery .thumbnails > li {
  
   height: 180px;
}
.modal-header {
    padding-bottom: 30px;
}
.title_container {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.dialog_title {
    text-align: left;
    float:left;
    margin: 0px;


}

.close_button {
    float: right;
    text-align: right;
    margin: 0;

}
.modal-level2 {
z-index:1052

}

.modal-level1 {
z-index: 1051;
}