<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Feedback<%= @params[:pid] != nil ? "for " + @params[:pid] : "" %> has been sent:</h1>
    <p><%= @params[:message] %></p>
  </body>
</html>



