<div class="span5 download_links pull-right" style="padding-top:5px;  padding-left: 25px;  ">
  Download:  <a href="/file_assets/<%= params[:id] %>"><i class="icon-picture"/></i> Download image</a> <a href="http://sites.tufts.edu/dca/research-help/image-requests/"><i class="icon-envelope"/></i> Request high-resolution</a>
</div>