h1.site_title {background: transparent url('../../images/tdl/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 40px; width: 120px;}

input#submit {
  margin-top:5px;
  margin-bottom:-9px;
  height: 26px;
}

.metadata_row {
  display: table-row;
  width: 100%;
}

.metadata_label {
  display: table-cell;
  width: 100px;
  color: darkgray;
  font-weight: normal;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.metadata_values {
  display: table;
  width: 100%;
  padding-top: .25em;
  padding-bottom: .25em;
}

.metadata_value {
  display: table-row;
  width: 100%;
}

.participant_section {
  margin-top: 2em;
}

.participant_header {
  color: darkgray;
}

.participant_table {
  display: table;
}

.participant_row {
  display: table-row;
}

.participant_id {
  display: table-cell;
  width: 30px;
  color: darkgray;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.participant_name {
  display: table-cell;
  width: 150px;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.participant_role {
  display: table-cell;
  width: 100px;
  font-style: italic;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.transcript_section {
  margin-top: 2em;
}

.transcript_header {
  color: darkgray;
}

.transcript_scrollarea {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.transcript_table {
  display: table;
}

.transcript_row {
  display: table-row;
  width: 100%;
}

.transcript_speaker {
  display: table-cell;
  width: 100px;
  color: darkgray;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.transcript_utterance {
  display: table-cell;
  vertical-align: top;
  padding-right: 2em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.transcript_notation {
  font-style: italic;
}

.EAD_TOC {
  position: relative;
  top: 0px;
  left: 0px;
}

/* EAD_H5 and EAD_H6 override styles set elsewhere to style the headers as desired for the EAD pages. */

.EAD_H5 {
  font-weight: 500;
  color: #333333;
}

.EAD_H6 {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}