h1.site_title {background: transparent url('../../images/tdl/logo.png') no-repeat top left; margin: 2em 0px 0px 1em; height: 40px; width: 120px;}

input#submit {
  margin-top:5px;
  margin-bottom:-9px;
  height: 26px;

}

