<div id="ImageInfo" data-pid="<%= params[:id] %>"></div>
<div id="BookReader">
  Internet Archive BookReader Demo 2 <br/>

  <noscript>
    <p>
      The BookReader requires JavaScript to be enabled. Please check that your browser supports JavaScript and that it
      is enabled in the browser settings. You can also try one of the
      <a href="http://www.archive.org/details/goodytwoshoes00newyiala"> other formats of the book</a>.
    </p>
  </noscript>
  <script type="text/javascript" src="/javascripts/advancedimageviewer/BookReaderImageViewer.js"></script>

</div>
<script type="text/javascript">
    <!--
    $(document).ready(function () {
        $('a.logo').closest('span').append('<div class="overview_link"><%= render_back_to_overview_link %><div>');
    });
    // -->
</script>

