<!-- BLUE FOOTER -->      
<div class="blue-footer">
<div class="row">
<div class="span6">
<a href="http://www.tufts.edu" title="Tufts.edu" target="_new">
<img src="/assets/img/tuftsuniversity.png" alt="Go to tufts.edu" width="173" height="61" border="0"></a>
</div> 
<div class="row pull-right">
<div class="span2"><span style="color:#ffffff;line-height:150%;">&copy; 2012 Tufts University</span>
    
      </div>
</div>

</div><!-- /row -->
</div><!-- /blue-footer -->