<div class="subnav">
  <% if "index" == @current_action %>
    <%= render :partial =>"shared/search_bar" %>
  <% else %>
      <div class="span6" style="padding-top:5px">

        </div>

        <div class="span6" style="padding-top:5px"></div>

  <% end %>
</div>
