@charset "UTF-8";
/*Modified by Tufts University ESTS*/
	
	body{background:#CCC;}
	
	#menu {text-align:left;}
	/*Toggle Area*/
	#menu .toggle {float:right;width:9px; padding:5px; cursor:pointer; border-top:1px solid white; border-left:1px solid #E0E0E0; color:#999;}
	#menu ul.navmenu li:first-child .toggle{border-width:0 0 0 1px;}
	
	/*Menu Setup*/
	#menu ul{padding:0; margin:0; width:180px;}
	#menu ul ul{border:1px solid #CCC;overflow:hidden;}
	#menu ul.navmenu li {margin:0; list-style:none;float:left; color: #D3CAC5;}
	#menu ul.navmenu li li {float:none;}
	/*Links*/
	#menu ul.navmenu a, #menu ul.navmenu a:visited {text-decoration:none; padding:5px; display:inline-block; color:#008FDD;}
	#menu ul.navmenu ul.submenu a:hover{background:#c4e0f5; color:#333;}
	/*Heading Outer div*/
	#menu ul.navmenu .menutop{border:1px solid #CCC; border-width:0 1px; overflow:hidden; width:180px; background:#F9F9F9; }
	/*Header Links*/
	#menu ul.navmenu .menutop a  {border-top-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    color: #300F00;
    float: left;
    margin-bottom: 1px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 150px;
}
	/*Header Link Hover*/
	#menu ul.navmenu .menutop a:hover{color:#333;}
	/*Removes white border for the first header*/
	#menu ul.navmenu li:first-child .menutop a {border-width:0px;}
	
	/*Single Menu Width Fix*/
	#menu ul.navmenu .menusingle a{width:170px;}
	
	/*Border Radius and Special Border Width*/
	#menu ul.navmenu li:first-child .menutop{border-width:1px 1px 0 1px; -moz-border-radius:5px 5px 0 0;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;}
	#menu ul.navmenu li:last-child .menutop{border-width:0px 1px 1px 1px; -moz-border-radius:0 0 5px 5px; -webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
	#menu ul.navmenu li:last-child ul.submenu{-moz-border-radius:0 0 5px 5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
	#menu ul.navmenu li:last-child .menutop-open{-moz-border-radius:0;-webkit-border-radius:0px; border-width:0 1px;}
    .facet_select
    {
        display:inline;
        text-align: left;
    }
    .facet_count
    {
        display:inline;
    }

    /* ========================
    Search Parameters
    ======================== */
      /* current search criteria are rendered right under search box, and appear
       as part of same section. */
    #appliedParams {
      background-color: #F0F0F0;
      border-right: 1px solid #AAAAAA;
      border-left: 1px solid #AAAAAA;
      border-bottom: 1px solid #AAAAAA;
      padding: 1em 0.66em 0em 1em;
      border-radius:0 0 4px 4px;
      -moz-border-radius:0 0 4px 4px;
      -webkit-border-radius:0 0 4px 4px;
      margin-bottom: 1.5em;
    }

    #appliedParams .label {
      /* just here for screen-readers, attributes copied from Jquery-ui
         .ui-helper-hidden-accessible */
      position: absolute;
      left: -100000000px;
    }

    /* but don't hide it on show page, where there is no actual search box. */
    .show #appliedParams .label {
      position: static;
      margin-top: 0;
    }
    .show #appliedParams {
      /* it's the top, give it a top border with corners */
      border-top: 1px solid #AAAAAA;
      border-radius:4px 4px 4px 4px;
      -moz-border-radius:4px 4px 4px 4px;
      -webkit-border-radius:4px 4px 4px 4px;
    }

    .appliedFilter {
      position: relative;
      display:inline-block;
      padding:3px 3px 3px 1.5em;
      margin-bottom: 0.66em;
      margin-right: 0.33em;
      background:#e2edfe;
      border:1px solid #c4dafe;
      -moz-border-radius:15px 15px 15px 15px;
      -webkit-border-radius:15px 15px 15px 15px;
      border-radius: 15px 15px 15px 15px;
    }
    .appliedFilter .btnRemove{
      display:block;
      position:absolute;
      z-index:5;
      right:0px;
      top:0;
      width:32px;
      height:100%;
      background:url(../../images/blacklight/remove.gif) no-repeat center center;
      border-left:1px solid #d0daea;
      border-bottom: none;
      text-indent:-99999px; /* text there for screen readers, hidden visually */
      outline: none; /* the screen reader text indent above will make weird outlines on link clicking, unless we turn em off. */
    }
    .appliedFilter .btnRemove:active, .appliedFilter .btnRemove:focus {
      /* we took outline away above; add a border instead, for accesibility
         so someone tabbing to the link knows what link is active */
      border: 1px dotted #FFD27A;
    }

    .appliedFilter .queryName, .appliedFilter .filterName {
      /* ">" image */
      padding-right:14px;
      background:url(../../images/blacklight/separator.gif) no-repeat right center;
    }

    .filterValue {
      padding-right:37px; /* leave room for close button */
    }

    .pagination #disabled {
      color: #999;
      cursor: default;
    }

