<div class="span5 pull-right download_links" style="padding-top:5px; padding-left: 25px;  ">
  <a href="/file_assets/<%= params[:id] %>"><i class="icon-headphones"/></i> Download Audio File</a> &nbsp;<a href="/file_assets/transcript/<%= params[:id] %>"><i class="icon-file"/></i> Download Transcript</a>
</div>
