<%= render :partial => 'shared/search_bar' %>
<div class="row">

  <%= render :partial => 'facet_nav' %>

  <!-- MAIN CONTENT AREA -->
  <div class="span7">
    <%= render :partial => 'dca_text/welcome' %>
  </div>

  <div class="span9">
    <%= render :partial => "dca_text/collections" %>
  </div>
</div>