<%= render :partial => 'shared/search_form' %>
<div class="row">

  <%= render :partial => 'facet_nav' %>

  <!-- MAIN CONTENT AREA -->
  <div class="span7">
    <%= render :partial => 'welcome' %>
  </div>

  <div class="span9">
    <%= render :partial => "collections" %>
  </div>
</div>