<%= render :partial => 'shared/search_bar' %>

<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <%= render :partial => 'facet_nav' %>
    <!-- nested Fluid RIGHT -->
    <div class="row-fluid">
      <!-- MAIN CONTENT AREA -->
      <div class="span7">
        <%= render :partial => 'dca_text/welcome' %>

        <%= render :partial => "dca_text/collections" %>
      </div>

    </div>
  </div>
</div>