<div class="subnav">
  <ul class="nav nav-pills">
    <li><a href="/"><i class="icon-arrow-left"></i> Back</a></li>
  </ul>
</div>

<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">

    <h3></h3>
    <h4></h4>

  </div>

  <!-- nested row SIDE FOR DOC INFO TYPE OR GALLERY LINK -->
  <div class="row-fluid">
    <%= render :partial => 'facet_nav' %>
    <div class="span6">
      <h3>Search</h3>

      <%= render :partial => 'shared/search_form' %>

      <div class="tooltip-demo well">
       <%= render :partial => 'dca_text/search_tips' %>

      </div>
      ​
    </div>
  </div>

</div>
