<% javascript_includes << ['custom', {:plugin=>:hydra_repository, :media=>"all"}] %>
<% javascript_includes << ["catalog/show", {:plugin=>:hydra_repository, :media=>"all"}] %>
<% javascript_includes << "feedback.js" %>
<% stylesheet_links << "feedback/feedback.css" %>

        <div id="ead_content">
          <%= raw Tufts::EADMethods.show_overview_page(@document_fedora) %>
        </div> <!-- ead_content -->
