<!-- LEFT SIDE FOR OBJECT TITLE -->
<% stylesheet_links << "tei/tei.css" %>
<% metadata = Tufts::ModelMethods.get_metadata(@document_fedora) %>

<div class="row">
  <div class="span12">
    <%= render :partial => 'shared/header_elements', :locals => {:metadata => metadata} %>
  </div>
  <!-- span12 -->
</div>  <!-- row -->

<hr>
<div class="row">
  <div class="span7">
    <%= render :partial => 'tufts_teis/bookreader_pane', :locals => {:metadata => metadata} %>
  </div>


  <div class="span5">
    <%= render :partial => 'tufts_teis/metadata_pane', :locals => {:metadata => metadata} %>
  </div>


</div>


