<!-- LEFT SIDE FOR OBJECT TITLE -->
<% stylesheet_links << "tei/tei.css" %>
<% metadata = Tufts::ModelMethods.get_metadata(@document_fedora) %>
<% toc_results, chapter_list = Tufts::TeiMethods.get_toc(@document_fedora) %>
<% javascript_includes << "mustache/mustache.js" %>

<div class="row">
  <div class="span12">
    <%= render :partial => 'shared/header_elements', :locals => {:metadata => metadata} %>
  </div>
  <!-- span12 -->
</div>  <!-- row -->

<hr>
<div class="row">
  <div class="span7">
    <%= render :partial => 'tufts_teis/bookreader_pane', :locals => {:metadata => metadata, :chapter_list => chapter_list} %>
  </div>


  <div class="span5">
    <%= render :partial => 'tufts_teis/metadata_pane', :locals => {:metadata => metadata, :toc_results => toc_results} %>
  </div>


</div>
<script id="image_overlay_template" type="text/template">
  <div class="modal-header">
    &nbsp;
    <button class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <img class="centerimage" src="{{image_url}}" width="491" height="500">

    <div class="pull-right"><h6><a href="{{item_link}}">go to image entry <i class="icon-share"></i></a></h6></div>
    {{item_title}}<br>
    {{item_date}}<br>
    {{item_description}}
  </div>
</script>

<script id="gallery_overlay_template" type="text/template">
  <div class="modal-header">
    <h3>{{title}}</h3>
    <button class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <ul class="thumbnails  ">
      {{#figures}}
      <li class="span2 hidden thumb_item">
        <div class="thumbnail">
          <a href="#"><img class="lazy" data-original="/file_assets/thumb/{{pid}}" src="/images/grey.gif" width="120" height="80" alt="{{caption}}"></a>

          <div class="caption_oneline ">
            <a href="/catalog/{{pid}}">{{caption}}</a>

          </div>
        </div>
      </li>
      {{/figures}}

    </ul>


  </div>


  <div class="facet_pagination bottom">
    <div class="prev_next_links">
      <span class="disabled ui-state-active prev_page">« Previous</span> |
      <a href="#" class="next_page">Next »</a></div>

  </div>
</script>

