<table class="table table_notopborder">
  <thead>
  <tr class="table_header">
    <td>Chapter</td>
    <td>Text</td>

  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="chapter_title">CHAPTER X: Covent Garden Section II. Covent Garden...</td>
    <td>The wanderer in the now dreary and depressing piazza of<strong> Covent Garden</strong>, where the
      squat
      market buildings loom...
    </td>
  </tr>

  <tr>
    <td class="chapter_title">CHAPTER XXI: Piccadilly</td>
    <td>...Westminster election for Charles James Fox, has been already alluded to in the chapter on "<strong>Covent
      Garden</strong>".
    </td>
  </tr>


  <tr>
    <td class="chapter_title">CHAPTER IX: Chancery Lane--Lincoln's Inn, Etc.
    </td>
    <td>The boxes are filled with beaux and belles, the pit with coffeehouse wits from
      <strong>Covent Garden,</strong> the gallery wi...
    </td>
  </tr>

  <tr>
    <td class="chapter_title">CHAPTER XXII: Mayfair
    </td>
    <td>composer's compositions when the management of<strong> Covent Garden </strong>had to omit some of the
      finest con...
    </td>
  </tr>

  <tr>
    <td class="chapter_title">CHAPTER XV: The Strand (continued)
    </td>
    <td>...and his group still live and breathe about Fleet Street, the Strand, Leicester Square,
      <strong>Covent Garden</strong>...
    </td>
  </tr>

  <tr>
    <td class="chapter_title">CHAPTER VIII: Fleet Street (continued)
    </td>
    <td>drawn by slumberous horses, unguided by sleeping drivers, slowly make their way to
      <strong>Covent Garden</strong>...
    </td>
  </tr>

  <tr>
    <td class="chapter_title">CHAPTER XVIII: The Haymarket--St. James's Square, Etc.

    </td>
    <td>... Licensing Act, by which the London theatres were restricted to two, Drury Lane and
      <strong>Covent Garden.</strong></td>
  </tr>

  </tbody>
</table>
<div class="morelink"><a href="#">more »</a></div>