<!-- LEFT SIDE FOR OBJECT TITLE -->
<% metadata = Tufts::ModelMethods.get_metadata(@document_fedora) %>
<% toc_results, chapter_list =  Tufts::TeiMethods.get_toc(@document_fedora) %>
<% stylesheet_links << "tei/tei.css" %>
<% javascript_includes << "mustache/mustache.js" %>
<% javascript_includes << "tei/tei.js" %>

<div class="row">
  <div class="span12">

    <%= render :partial => 'shared/header_elements', :locals => {:metadata => metadata} %>
  </div>
  <!-- span12 -->
</div>  <!-- row -->

<hr>
<div class="row">
  <div class="span6">
    <%= render :partial => 'tufts_teis/image_pane', :locals => {:metadata => metadata}  %>

  </div>


  <div class="span6">
    <%= render :partial => 'tufts_teis/metadata_pane', :locals => {:metadata => metadata, :toc_results => toc_results} %>
  </div>


</div>
<%= render :partial => 'tufts_teis/mustache_templates' %>


