<table class="table noborder">
          <tbody>
          <tr class="borderbottom">
            <td class="collapse_td  ">
              <a data-toggle="modal" href="#myImageGallery"><i class="icon-picture"></i></a></td>
            <td><a data-toggle="modal" href="#myImageGallery"> View all images in this book </a></td>
          </tr>

          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">Title Page</a></td>
          </tr>
          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">To the Reader</a></td>
          </tr>
          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">CHAPTER III: The Blackfriars Theatre, Etc.</a></td>
          </tr>
          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#"></a><a href="#">CHAPTER XXII: Mayfair</a></td>
          </tr>
          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">CHAPTER XV: The Strand (continued)</a></td>
          </tr>
          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">CHAPTER XVIII: The Haymarket--St. James's Square, Etc.</a></td>
          </tr>
          <tr>
            <td class="collapse_td">
              <a href="#"><img src="assets/img/button_collapse.png" width="11" height="11" alt="collapse"></a></td>
            <td><a href="#">CHAPTER IV: Smithfield and Clerkenwell</a></td>
          </tr>

          <tr>
            <td colspan="2" class="indent"><a href="#">II. Covent Garden Market</a></td>
          </tr>
          <tr>
            <td colspan="2" class="indent"><a href="#">III. Covent Garden Election</a></td>
          </tr>

          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">CHAPTER XVII: Westminster Abbey and Palace, Etc.</a></td>
          </tr>


          <tr>
            <td class="collapse_td">&nbsp;</td>
            <td><a href="#">CHAPTER XVIII: The Haymarket--St. James's Square, Etc.</a></td>
          </tr>

          </tbody>
        </table>


