<table class="table noborder">
          <tbody>
          <tr class="borderbottom">
            <td class="collapse_td  ">
              <a data-pid="<%= params[:id] %>" class="myImageGalleryLauncher" href="#myImageGallery"><i class="icon-picture"></i></a></td>
            <td><a data-pid="<%= params[:id] %>" class="myImageGalleryLauncher" href="#myImageGallery"> View all images in this book </a></td>
          </tr>
          <%= raw toc_results %>
          </tbody>
        </table>




