<table class="table">
  <thead>
  <tr>
    <td colspan="2" class="table_header">Object Manifest</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="table_options">Link</td>
    <td class="table_options">MIME Type</td>
  </tr>
  <%= showGenericObjects(params[:id]) %>

  </tbody>
</table>

