<!--
   Everything in the template within but not including the div class=content
   goes in the _show.html.erb partial

   Bootstrap Grid system: http://twitter.github.com/bootstrap/scaffolding.html
   Bootstrap Base CSS: http://twitter.github.com/bootstrap/base-css.html
   Elections Records Landing Page Spec : https://wikis.uit.tufts.edu/confluence/display/DCAProjects/Election+Records+landing+page+spec
-->

<div class="row">
  <div class="span12">
    <h2><%= show_title() %></h2>
  </div>
</div>

<hr>

<div class="row">
  <div class="span6">
    <br>
    <center><img alt="" src="/assets/img/boston_streets.png"></center>
  </div>
  <div class="span6">
    <div class="tooltip-demo well "><p>View:</p>
      <h5><a href="<%= show_streets_link(params[:id]) %>"><%= show_title() %></a> <i class="icon-arrow-right margintoparrow"> </i></h5>
<strong>Boston Street</strong> combines photographs, maps, and city directories to present a new view of the geography and people of Boston between 1845-1898. This project was developed by the Tufts University Digital Collections and Archives with support from IMLS and The Bostonian Society.
    </div>
  </div>
</div>
