<%-
@page_title = "A New Nation Votes: American Election Returns 1787-1825"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu'%>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">
        <h2><%= @page_title %></h2>

        <p>

        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="span3">
              <div class="thumbnail">
                <img src="/assets/img/elections.png" alt="">

              </div>
            </li>
          </ul>
        </div>

          <p>"<a href="http://elections.lib.tufts.edu/">A New
          Nation Votes: American Election Returns 1787-1825</a>"
          is a searchable collection of election returns from the
          earliest years of American democracy, developed in
          conjunction with the American Antiquarian Society, using data compiled by Philip J. Lampi over the past 50 years.</p>
          
          <p>The election
          returns are searchable in their own <a
          href="http://elections.lib.tufts.edu/">dedicated
          portal</a>, which allows you to narrow down your search
          by candidate, office, year, party, jurisdiction,
          election type, and state or territory.</p>

          <p><a
          href="http://elections.lib.tufts.edu/about.html">Learn
          more about the  election records project</a>.</p>

          <p>"A New
          Nation Votes" was made possible with generous help from
          the National Endowment for the Humanities.</p>
      </div>
    </div>
  </div>
</div>
