<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu'%>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">
          <p>The Tufts Digital Library has a growing collection
          of scholarship by faculty, students, and staff.</p>
          <ul>
              <li><a
              href="/catalog?f[collection_facet][]=Faculty+scholarship&search_field=all_fields&utf8=%E2%9C%93#">Faculty
              scholarship</a>. Hint: expand the "Names" facet in
              the left-hand navigation for a quick glimpse at the
              faculty who deposited work. </li>
              <li><a
              href="/catalog?f[collection_facet][]=Graduate+scholarship&search_field=all_fields&utf8=%E2%9C%93">Graduate
              scholarship</a>. This collection is composed of the
              work of students from the <a
              href="http://fletcher.tufts.edu/">Fletcher School
              of Law and Diplomacy</a>, primarily theses from the
              programs <a
              href="/catalog?f[collection_facet][]=Graduate+scholarship&f[subject_facet][]=MALD+Thesis&search_field=all_fields&utf8=%E2%9C%93">Master
              of Arts in Law and Diplomacy</a> (MALD), <a
              href="/catalog?f[collection_facet][]=Graduate+scholarship&f[subject_facet][]=LLM+thesis&search_field=all_fields&utf8=%E2%9C%93">Master
              of Laws in International Law</a> (LLM), and <a
              href="/catalog?f[collection_facet][]=Graduate+scholarship&f[subject_facet][]=MIB+Thesis&search_field=all_fields&utf8=%E2%9C%93">Master
              of International Business</a> (MIB). </li>
              <li><a
              href="/catalog/ead/tufts:UA069.001.DO.UA071">Department
              of Education Qualifying Papers</a>. </li>
              <li><a
              href="/catalog?f[collection_facet][]=Undergraduate+scholarship&search_field=all_fields&utf8=%E2%9C%93#">Undergraduate
              scholarship</a>. This collection is primarily
              composed of undergraduate honors theses. Hint:
              expand the "Subject" facet in the left-hand
              navigation for a glimpse at the departments from
              which these papers originate. </li>
          </ul>
          <p>Many faculty, students, and staff can deposit their
          papers digitally for submission into the digital
          library at the <a
          href="https://dca.lib.tufts.edu/submissions/deposit_submission/">TDL
          deposit form</a>. For all other deposits, including
          capstone projects, dissertations,  manuscripts
          collections, etc., please see the <a
          href="http://sites.tufts.edu/dca/submitting-materials/">DCA
          guide to submitting materials</a>.</p>
      </div>
    </div>
  </div>
</div>
