<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu'%>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">

      </div>
    </div>
  </div>
</div>