<%= render :partial => 'shared/search_bar' %>

<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3"><p><h6></h6></p>

    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">
        <h2>Learn More about Finding Aids</h2>

        <p>A Finding Aid aids in the finding.  More details to follow...</p>

      </div>
      <div id="breadcrumbdivider">&nbsp;</div>


    </div>

    <div class="span9">


    </div>


    <br/>
  </div>
  <div class="row">
    <div class="span7 offset3">


    </div>
  </div>
</div>
</div>
