<%-
@page_title = "About Us"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu' %>

    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">
          <h2><%= @page_title %></h2>
          
          The Tufts Digital Library is the result of a collaboration
          between 
          <a href="http://dca.tufts.edu/">Digital Collections and
          Archives</a> (DCA) and University Information Technology <a
          href="http://uit.tufts.edu/at/?pid=120">Educational and Scholarly
          Technology Services</a> (ESTS). TDL collections support teaching
          and research at Tufts University and feature digital resources
          created by members of the Tufts community of enduring value. Not
          all materials in the TDL are made available to the public. While
          many resources in the TDL are part of the DCA’s permanent
          collections, some are stored under the terms of our long-term
          storage services.
          
          <h3>Introduction</h3>
          <p>DCA and ESTS, using the Tufts Digital Library, provide
          services for the preservation of and access to digital assets
          created in support of Tufts'; teaching and research mission.
          Core services include:</p>
          <ul>
          <li>Secure long-term storage</li>
          <li>Management of digital assets</li>
          <li>Preservation policies and procedures</li>
          <li>Discovery and retrieval</li>
          </ul>
          <p>Additional services are available, including:</p>
          <ul>
          <li>Development of access tools and interfaces</li>
          <li>Consultation on digital asset creation</li>
          </ul>
          
          <h3>History and Management</h3>
          <p>Since 2003, DCA and ESTS have collaborated on the
          implementation of the Tufts Digital Library, a digital
          preservation system based on the Fedora Commons Repository
          architecture. The Tufts Digital Library is a centrally-managed
          preservation and access system for digital content of enduring
          value created at Tufts and/or by members of the Tufts community,
          its affiliates, and allied organizations. The TDL&#8217;s backend
          architecture is built around Fedora Commons Repository, an
          open-source digital repository management system. Services
          include long-term and archival storage of digital objects, as
          well as public access where appropriate.</p>
          
          <p>Collection policies and criteria for deposit are set by the
          DCA. Management of the system&#8217;s software, hardware, and
          applications is shared between the DCA and ESTS. As stewards of
          the TDL, DCA provides services and support to faculty, staff,
          students, and associated institutions who use the TDL's
          materials or create and contribute content. </p>

	  <h3>Technology</h3>

	  <p>The TDL is built entirely on FLOSS (Free, Libre, and Open Source Software). The underlying data storage is managed with the <a href="http://fedora-commons.org/">Fedora Commons Repository</a>. Our user interface is developed using <a href="http://projectblacklight.org/">Blacklight</a> and  <a href="http://www.fedora-commons.org/confluence/display/hydra/The+Hydra+Project">Hydra</a>, with indexing powered by <a href="http://lucene.apache.org/solr/">Solr</a>.</p> 
      </div>
      <div id="breadcrumbdivider">&nbsp;</div>


    </div>

    <div class="span9">


    </div>


    <br/>
  </div>
  <div class="row">
    <div class="span7 offset3">


    </div>
  </div>
</div>

