<%-
@page_title = "Privacy Policy"
-%>
<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu' %>

    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span7">
          <h2><%= @page_title %></h2>
<p>The Digital Collections and Archives (DCA) collects data about traffic to its department website (<a href="http://dca.tufts.edu">http://dca.tufts.edu</a>) and the Tufts Digital Library (<a href="http://dl.tufts.edu">http://dl.tufts.edu</a>). The DCA does not individually identify users. Instead, it collects anonymous data and aggregate information to determine trends and improve the quality of its user experience. In some cases, the DCA uses Google Analytics to track data to its websites.</p>

<p>If you do not want to allow Google Analytics to track your use of our departmental website and Digital Library there are numerous tools, such as the browser extensions <a href="http://www.ghostery.com/">Ghostery</a> or <a href="http://noscript.net/">NoScript</a>, which will help you control what sites collect information about you. You can also opt out of Google Analytics tracking by turning off cookies in the preferences settings in your browser. (This may affect your ability to use other Tufts Libraries web services.) For more, see additional information on <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsCookies">Google Analytics</a>, <a href="http://www.google.com/analytics/terms/us.html">Google Analytics Terms of Service</a> and the <a href="http://www.google.com/policies/privacy/ads/">Google Advertising and Privacy FAQ</a>.</p>

<p>The DCA's use of this data is governed by the <a href="http://www.library.tufts.edu/privacyPolicy.html">Tufts University Library Privacy Policy</a>.</p>

          
      </div>
      <div id="breadcrumbdivider">&nbsp;</div>


    </div>

    <div class="span9">


    </div>


    <br/>
  </div>
  <div class="row">
    <div class="span7 offset3">


    </div>
  </div>
</div>
