<!-- LEFT SIDE/ FOR FLUID COLUMN TITLE ROW -->
<div class="row-fluid">
  <div class="span12">
  </div>

  <!-- nested row LEFT -->
  <div class="row-fluid">

    <div class="span3">
      <%= render :partial => 'about/menu' %>
    </div>


    <!-- nested Fluid RIGHT -->
    <div class="row">
      <div class="span8">
        <h2>Tufts and Local History</h2>

        <div id="static_thumbnail">
          <ul class="thumbnails ">
            <li class="span5">
              <div class="thumbnail">
                <a href="#"><img src="/assets/img/tufts_placeholder.gif" alt=""></a>

              </div>
            </li>
          </ul>
        </div>
        <p>The DCA has digitized thousands of photographs from the history of the University, resulting in documentation
          of both the University and the surrounding areas. Additionally, other collections of photographs and documents
          supplement our holdings, resulting in a collection of materials invaluable to a researcher of the history of
          Tufts University or of the cities of Boston and Medford. Here are some entry points into our collections.</p>

        <p>The vast majority of our collections are not available online. If you want to research those collections,
          please go to <a href="#">Research Help</a>.</p>
        <h4>Photographs</h4>
        <ul>
          <li><a href="#">Melville S. Munro’s photographs document Tufts from World War I through World War II.</a></li>
          <li><a href="#">Edwin B. Rollins’ photographs document buildings on the Medford campus.</a></li>
          <li><a href="#">The P.T. Barnum papers include images of Jumbo and Barnum Hall.</a></li>
          <li><a href="#">Tom Hart's photographs depict campus and student life in the 60s, 70s and 80s.</a></li>
          <li><a href="#">Jackson College photographs portray Jackson College students, activities, and events.</a></li>
          <li><a href="#">Department of Athletics portray games and athletes.</a><br>
          <li>
            <a href="#">Facilities Management portray buildings, architectural drawings and construction on the Medford
              campus.</a></li>
          <li><a href="#"> Activities and Organizations portray Tufts activities and organizations</a></li>
          <li><a href="#"> The University Photographs document Tufts since 2005</a></li>
          <li><a href="#">The Bostonian Society photographs document the city of Boston from YEAR to YEAR</a></li>
          <li><a href="#"> Photographs from The Jumbo features images from the Centennial supplement to the Tufts
            undergraduate yearbook, published in 1952</a></li>
          <li><a href="#">The MacJannett images our 725 photographs from the MacJannett family pictures, which include
            images from the Tufts campus at Talloires</a></li>
          <li><a href="#">The Pen, Paint, and Pretzels photographs show images from University dramatic productions</a>
          </li>
          <li><a href="#">Hundreds of photographs from the archives of the Tufts Daily are available online</a></li>

        </ul>
        <h4>Periodicals</h4>

        <p>DCA collects all Tufts periodicals. Many of them have been digitized, and some of the digital periodicals are
          sampled here.</p>
        <ul>
          <li><a href="#">The Tufts Daily is available online from YEAR to YEAR</a></li>
          <li><a href="#">Outbreath, a literary magazine, has digitized copies from 2008 on</a></li>
          <li><a href="#">Over 45 years worth of the medical school's yearbook, Caduceus, have been made available
            online</a></li>

        </ul>
        <h4>Other documents</h4>
        <ul>
          <li>
            <a href="#">The online-only Concise Encyclopedia of Tufts History tells you about the history of Tufts, its
              traditions, events, buildings, and people. If there is no entry on the topic you’re researching, please
              let us know. </a></li>
          <li>
            <a href="#">In Light on the Hill: A History of Tufts College, Volume I and Volume II, Russell Miller, Tufts’
              first University Historian, chronicles the history of Tufts from its founding through the mid-1980s. </a>
          </li>
          <li>
            <a href="#">High on the Hill, a pamphlet-style publication by the Alumni Council, presents Tufts traditions
              and lore through a tour of its Medford campus. </a></li>
          <li><a href="#">Check out historic snapshots of the Tufts Homepage since 1997, courtesy of Internet Archive,
            Wayback Machine. </a></li>
          <li><a href="#"> DCA is building a comprehensive history of Tufts people and offices
          </a></li>
        </ul>
        <h4>Further help</h4>

        <p>For more information, or for access to non-digitized materials,<a href="#"> contact DCA</a>.
        </p>
      </div>
    </div>
  </div>
</div>