<div class="span6 pull-right download_links">
  <a href="/file_assets/<%= params[:id] %>"><i class="icon-picture"/></i>&nbsp;Download Image</a>&nbsp;&nbsp;<a href="http://sites.tufts.edu/dca/research-help/image-requests/"><i class="icon-envelope"/></i>&nbsp;Request High-resolution</a>
</div>
