<div class="span5 pull-right download_links" style="padding-top:5px; padding-left: 55px;  ">
  <a href="/file_assets/<%= params[:id] %>"><i class="icon-headphones"/></i> Download Audio File</a>
</div>
