<div class="span6" style="padding-top:5px">
  <% if refered_from_our_site? %>
    <a href="<%= request.env["HTTP_REFERER"]%>"><i class="icon-arrow-left"></i> Back to Search Results</a>
  <% end %>
</div>
