<h5>Advanced Search Tips</h5>
<p>Example body text. You can use Simple Search <a rel="tooltip" href="#" data-original-title="first tooltip">to search the digital library</a> to find a document by symbol number or title. Simply enter a title or symbol number and the matching documents will be returned. The search engine knows that certain parts of the <a title="Another tooltip" rel="tooltip" href="#">have a</a> documents in the library--titles, symbol numbers, and so on--are important. Search results that match those special <a title="Another one here too" rel="tooltip" href="#">gateway searches</a> fields will be ranked higher than ordinary search results.</p>
<p><a title="Advanced Search Tips" rel="tooltip" href="#">More Questions?</a></p>
