<h2>Explore Featured Exhibits & Collections</h2>
<ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
           <a href="#"><img src="/assets/img/aloneintheeast-tuhome.jpg" alt=""></a>
            <div class="caption">
               <a href="#"><h5>Tufts and local history</h5></a>
                 
              
            </div>
          </div>  
        </li>
<li class="span3">
          <div class="thumbnail">
           <a href="#"><img src="/assets/img/escholar-tuhome.jpg" alt=""></a>
            <div class="caption">
              <a href="#"><h5>E-scholarship</h5></a>
            </div>
          </div>
 </li>
 
 <li class="span3">
          <div class="thumbnail">
            <a href="#"><img src="/assets/img/murrow-tuhome.jpg" alt=""></a>
            <div class="caption">
            <a href="#"><h5>Edward R. Murrow collection</h5></a>
            </div>
          </div> 
 </li>
      
<li class="span3">
          <div class="thumbnail">
            <a href="#"><img src="/assets/img/wriston-tuhome.jpg" alt=""></a>
            <div class="caption">
              <a href="#"><h5>Walter B. Wriston collection</h5></a>
              
            </div>
          </div>
 </li>
 <li class="span3">
          <div class="thumbnail">
            <a href="#"><img src="/assets/img/prussia-tuhome-temp.jpg" alt=""></a>
            <div class="caption">
             <a href="#"><h5>A new nation votes</h5></a>
              
            </div>
          </div>
 </li>
 <li class="span3">
          <div class="thumbnail">
            <a href="#"><img src="/assets/img/drummers-tuhome.jpg" alt=""></a>
            <div class="caption">
              <a href="#"><h5>Dagomba Dance Drumming</h5></a>
            </div>
          </div> 
 </li>
 </ul>
