<h2>Explore Featured Exhibits & Collections</h2>

<p>Do we want to talk about the number of collections to start with? Maybe 3 instead of 6?</p>
<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">

      <div class="caption">
        <h5>Karate & Ice Cream</h5>

        <p>Pecans and Peanuts</p>

        <p><a href="#" class="btn primary">Go</a></p>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">

      <div class="caption">
        <h5>Maps of Boston streets</h5>

        <p>Still, no street signs.</p>

        <p><a href="#" class="btn primary">Go</a></p>
      </div>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <img src="http://placehold.it/260x180" alt="">

      <div class="caption">
        <h5>Etchings & Rascals!</h5>

        <p>Circus Parades!</p>

        <p><a href="#" class="btn primary">Go</a></p>
      </div>
    </div>
  </li>
</ul>
<div class="pull-right"><a href="#">View more featured exhibits!</a></div>
<br/>

<h2>Maintenance</h2>

<p>Upgrades to the Tufts Digital Library are schedule for THursday, 9 - 9:30 AM. The digital library may not be
  available during this time.</p>