<h2>Welcome to the digital library!</h2>
<div id="lipsum2">
  <p> The Tufts Digital Library is a place to explore and discover Tufts' research and teaching online. Collections include faculty and student scholarship, photograph and image collections, oral histories, student and university publications, and more. Explore using the links below or browse our collections.
     </p>
</div>