<h2>Welcome to the digital library!</h2>
<div id="lipsum2">
  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta, mi ut sollicitudin laoreet, nisl enim ornare
    erat, quis fringilla dui elit sit amet velit. Sed sit amet dui in nisl commodo faucibus. In hac habitasse platea
    dictumst. Donec suscipit sodales mi, et placerat est commodo quis. Class aptent taciti sociosqu ad litora torquent
    per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Vivamus ut gravida arcu. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. </p>

  <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta, mi ut sollicitudin laoreet, nisl enim ornare
    erat, quis fringilla dui elit sit amet velit. Sed sit amet dui in nisl commodo faucibus. In hac habitasse platea
    dictumst. Donec suscipit sodales mi, et placerat est commodo quis. Class aptent taciti sociosqu ad litora torquent
    per conubia nostra, per inceptos himenaeos. Aliquam erat volutpat. Vivamus ut gravida arcu. Lorem ipsum dolor sit
    amet, consectetur adipiscing elit. </p>

</div>